<div class="book-weap">
<% @books.each do |book| %>
  <div class="book-box">
    <% if book.image.attached? %>
       <%= image_tag book.image, size: "200x200" %>
    <% else %>
      <%= image_tag'no_image', size: "200x200" %>
    <% end %>

    <div class="book-comment">
      <span class="book-body"><%= book.body %></span>
      <span class="book-title"><%=link_to book.title, book_path(book.id) %></span>
    </div>
  </div>
  <% end %>
  </div>

<!-->
<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<!-->